<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>342577820989-f58jo3tf5c8d6vkshi30hdbpcbell60i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.342577820989-f58jo3tf5c8d6vkshi30hdbpcbell60i</string>
	<key>API_KEY</key>
	<string>AIzaSyCShEfvGVU5kxertJh0MtoMWU1IH7v_sZQ</string>
	<key>GCM_SENDER_ID</key>
	<string>342577820989</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Yuto.habitual-records</string>
	<key>PROJECT_ID</key>
	<string>habitual-records-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>habitual-records-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:342577820989:ios:02d2ba04d7414dacfb4154</string>
</dict>
</plist>